/* Mengatur margin dan padding default ke 0, serta menggunakan font family Poppins */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Mengatur container untuk mengisi seluruh tinggi layar dengan warna latar belakang */
.container{
    width: 100%;
    height: 100vh;
    background: #E0AED0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mengatur tampilan kalkulator dengan background dan padding */
.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

/* Mengatur tampilan tombol dalam kalkulator */
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

/* Mengatur tampilan input display */
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

/* Mengatur tampilan input display dalam kalkulator */
form .display input{
    background-color: #868CAC;
    height: 80px;
    width: 315px;
    border-radius: 10px;
    box-shadow: inset 2px 3px 11px 5px 5px 12px #fff, rgb(0,0,0,0.16);
    text-align: right;
    flex: 1;
    font-size: 45px;
}

/* Mengatur tampilan tombol equal */
form input.equal{
    width: 145px;
}

/* Mengatur tampilan tombol operator dengan warna khusus */
form input.operator{
    color: #AC87C5;
}